* {
    /* Because everyone tries to have 8px of whitespace */
    margin: 0;
    padding: 0;
}

html, body {
    /* Make sure these fit to the sides */
    width: 100%;
    height: 100%;
}

#screen {
    /* Who doesn't want fullscreen? */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fpsMeter, #test {
    /* Basic text label stuff */
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    color: #fff;
}

#test {
    top: 40px;
}
